{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="text-center">This is detail page</h1>
        <h1 class="text-left"><a href="{% url 'logout' %}">Logout</a></h1>
            <h3>{{ article.title }}<a href="{% url 'articles:detail' pk=article.pk %}"></a></h3>
            <p>{{ article.summary }}</p>
            <img width="100%" src="{{ article.image.url }}" alt="article image">
            <p class="text-center">author: {{ article.author }}</p>
            <p>{{ article.body }}</p>
    </div>
{% endblock %}